.hero {
  text-align: center;
  padding: 50px;
  background-color: #424769;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero h2 {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 1.5rem;
  }

  .hero h2 {
    font-size: 1rem;
  }
}
